/* 公用的样式 */
ul{
    list-style: none;
}
*{
    margin: 0;padding: 0;
}
body{
    font-size: 14px;
}
a{
    text-decoration: none;
}
.topbar{
    height: 40px;
    background: #333;
    font-size: 12px;
    color: #fff;
    /* 单行文字高度 */
    line-height: 40px;
}
/* 公共居中class */
.warpper{
    
    width: 1200px;
    
    margin:0 auto;
}
/* 行元素或文字在父元素中垂直居中 */
.topbar-list{
    
    float: left;

}
.topbar a{
    color: #fff;
    text-decoration: none;
}
.topbar a:hover{
    color: #ddd;
}
.topbar span{
    margin:0 2px;
}
.topbar-info{
    float: right;
}
/* header开始 */
.header{
    height: 100px;
    
}
.logo{
    float: left;
    margin-top: 23px;
}
.logo img{
    width: 187px;
    height: 55px;
}
.nav{
    float: right;
    margin: 36px -23px 0 0;
}
/* 亲子代选择器 */
.nav > li{
    float: left;
    padding: 0 23px;
    height: 40px;
    
}
.nav > li .nav-list{
    color: #212121;
    font-size: 18px;
}
.nav > li .nav-list:hover{
    color: #e94400;
}
.nav-sublist{
    position: absolute;
    top: 40px;
    left: -31px;
    background-color: #fff;
    width: 150px;
    height: 102px;
    border:1px solid #e5e5e5;
    border-radius: 2px;
    display: none;
}
.nav-money{
    position: relative;
}
.nav-money:hover .nav-sublist{
    display: block;
}
.nav-sublist ul{
    padding: 10px 0;
}
.nav-sublist li{
    height:40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
}
.nav-sublist li:hover{
    background: #eee;
}
.nav-sublist li a{
    color: #434343;
}
.nav-sublist li:hover a{
    color: #e94400;
}
.nav-sublist::before{
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    left: 72px;
    top: -5px;
    border: 1px solid #e5e5e5;
    transform: rotate(45deg);
    border-right-color: transparent;
    border-bottom-color: transparent;
    background: #fff;
}
/* header结束 */
/* banner开始 */
.banner{
    height: 640px;
    background: #e5e5e5 center 0; 
}
.banner h2{
    color: #fff;
    font-size: 54px;
    font-weight: 300;
    text-align: center;
    padding-top: 193px;

}
.download_btn{
    text-align: center;
    margin-top: 36px; 
}
.download_btn a{
    font-size: 24px;
    color: #fff;
    background-color:#ff0000;
    width: 260px;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    border-radius: 5px;

}
/* banner结束 */
/* content开始 */
.content{
    width: 1170px;
    
    border: 1px solid #e6e6e6;
    border-color: bisque;
    background: white;
    margin-top: -80px;
    padding: 30px 0 0px 30px;
    overflow: hidden;
}
.list{
    width: 360px;
    background: orange;
    float: left;
    margin-right: 30px;
}
.list-img{
    background-color:yellow;
    height: 180px;
    overflow: hidden;
}
.list-title{
    color: #fff;
    font-size: 33px;
    font-weight: 400;
    margin: 44px 0 0 30px ;
}
.list-desc{
    color: #fff;
    font-size: 33px;
    margin: 16px 0 0 30px;
}
.list-info{
    padding: 10px 30px;
    color: #666;
    font-size: 16px;
    background: white;
}
.list-info span{
    color: orange;
}
.list-blue .list-info span{
    color: blue;
}
.list-green .list-info span{
    color: green;
}
.list-info div{
    margin-top: 20px
}
.list-info div.list-more{
    border-top: 1px solid #ececec;
    font-size: 16px;
    color: #fd3911;
    text-align: center;
    margin: 40px 0 0 10px;
    height: 62px;
    line-height: 62px;
}
.list-blue .list-img{
    background: blue;

}
.list-green .list-img{
    background: green;

}

/* content结束 */
/* footer开始 */
.footer{
    height: 209px;
    background: #eee;
}
.footer-left-logo{
    height: 46px;
    width: 46px;
    float: left;
    margin-right: 18px;
}
.footer-left-message{
    float: left;

}
.footer-left-message li{
    float: left;
    font-size: 14px;
    border-right: 1px solid #575757;
    padding: 0 8px;
    
}
.footer-left-message li a{
    color: #575757;
    height: 14px;
    display: block;
    line-height: 14px;
}
.about{
    overflow: hidden;
    padding: 3px 0 7px;
}
.contect li{
    font-size: 12px;
    color: #6d6d6d;
    height: 14px;
    line-height: 14px;

}
.right-1{
    color: #575757;
    font-size: 14px;
    

}
.footer-left{
    overflow: hidden;
    float: left;
}
.footer-right{
    float: right;
}
/* footer结束 */